@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

.anchor {
  position: relative;
  top: -90px;
}

.wrapper {
  overflow: hidden;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    143deg,
    rgba(2, 0, 36, 1) 1%,
    rgba(239, 171, 138, 0.9360119047619048) 64%,
    rgba(0, 212, 255, 0.8631827731092436) 100%
  );
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.heading {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background: url(../img/bk-stars.svg) 50% / cover no-repeat;
  display: grid;
  place-content: center;
}

.heading-text {
  color: #fff;
  text-transform: uppercase;
  font-size: 60px;
  text-shadow: 3px 0 rgb(239 171 138 / 80%);
}

.header {
  width: 100%;
  background-color: rgba(20, 22, 24, 0.5);
  position: fixed;
  z-index: 99999;
}

.header-wrap {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav {
  width: 100%;
}
.nav-list {
  display: flex;
  justify-content: space-around;
}

.nav-item a {
  position: relative;
}

.nav-item a::before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: rgba(239, 171, 138, 1);
  left: 0;
  bottom: -2px;
  transition: all 0.3s;
}

.nav-item a:hover:before {
  width: 100%;
}

.nav-link {
  font-size: 25px;
  font-weight: 700;
  line-height: 2;
  color: rgba(239, 171, 138, 1);
  text-transform: uppercase;
}

.header-text {
  font-size: 30px;
}
.about-me {
  padding: 65px 0 30px;
}

.about-me-wrap {
  display: flex;
  align-items: center;
}

.about-me-img {
  width: 56%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-img img {
  max-width: 100%;
  max-height: 540px;
  width: auto;
  height: auto;
  border-radius: 25% 10%;
}

.about-me-info {
  width: 44%;
  padding-left: 20px;
}

.about-me-label,
.about-my-projects,
.main-content-title-education,
.footer-title-contact {
  display: block;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 20px;
  text-shadow: 2px 0 rgb(239 171 138 / 80%);
}

.about-me-title {
  display: block;
  font-size: 24px;
  margin-bottom: 20px;
}

.about-me-description {
  margin-bottom: 40px;
}

.portfolio {
  padding: 30px 0 30px;
}

.details-portfolio {
  display: flex;
  margin: 0 -15px;
}

.portfolio-box {
  padding: 0 15px;
  width: 33.33%;
}

.portfolio-card {
  padding: 20px 15px 10px;
  text-align: center;
  position: relative;
}

.portfolio-title {
  display: block;
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.portfolio-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  height: 250px;
}

.portfolio-gallery a {
  font-size: 0;
}

.portfolio-gallery a:hover {
  box-shadow: 10px 10px 10px rgb(137 77 74 / 100%);
  border-radius: 4px;
}

.portfolio-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
}

.detail-link {
  color: #fff;
  text-align: center;
  background-color: rgba(113, 80, 84, 0.8);
  border-radius: 50px;
  padding: 10px 20px;
}

.detail-link:hover {
  box-shadow: 10px 10px 10px rgba(137, 77, 74, 0.9);
}

.my-education-section {
  padding: 30px 0 30px;
}
.my-education-name {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.5;
  color: #fff;
  margin: 0 0 10px 0;
}

.my-education-name:before,
.my-education-name:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}

.my-education-name:before {
  margin-right: 10px;
}

.my-education-name:after {
  margin-left: 10px;
}

.my-education-position {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  color: #000;
  margin: 0 0 10px 0;
}

.my-education-period {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.2;
  color: rgba(19, 102, 91, 1);
  margin: 0 0 50px 0;
}

.my-education-text {
  padding-bottom: 25px;
}

.footer {
  padding: 20px 0;
}

.footer-contacts {
  display: flex;
  align-items: center;
  justify-content: start;
}

.footer h2 {
  font-size: 30px;
}
.footer-nav:not(:last-child) {
  padding-right: 100px;
}

.footer-nav-link {
  color: rgba(33, 78, 77, 1);
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
}

.footer-nav-link:hover {
  color: rgba(102, 0, 0, 0.8);
}

.footer-nav a {
  position: relative;
}

.footer-nav a::before {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  background-color: rgba(102, 0, 0, 0.8);
  left: 0;
  bottom: -2px;
  transition: all 0.3s;
}

.footer-nav a:hover:before {
  width: 100%;
}

.footer.container {
  position: relative;
}

.btn-icon {
  background-color: rgba(113, 80, 84, 0.8);
  color: #fff;
  height: auto;
  right: 3px;
  margin-right: 22px;
  margin-top: auto;
  padding: 3px 6px;
  position: fixed;
  top: 85%;
  width: 45px;
  z-index: 60;
  border-radius: 10px;
  cursor: pointer;
}

.btn-icon:hover {
  background-color: rgba(239, 171, 138, 1);
  color: #000;
  box-shadow: 10px 10px 10px rgb(137 77 74 / 90%);
}

.sm-up {
  display: block;
  font-size: 40px;
  line-height: 1.5;
  padding-bottom: 2px;
  text-align: center;
}

.my-education-name {
  display: flex;
  flex-direction: row;
}

/* ----------------------------------------------------------------------------------- */

/* @media (max-width: 1023px) {
  .hero-title {
    font-size: 65px;
    max-width: 380px;
  }

  .doc-care-img {
    width: 45%;
  }

  .doc-care-info {
    width: 55%;
    padding-left: 30px;
  }

  .box-product {
    padding-bottom: 10px;
  }

  .box-product.card-small {
    width: 50%;
  }

  .details-card-gallery {
    flex-wrap: wrap;
  }

  .gallery-box {
    width: 100%;
  }

  .gallery-box:last-child {
    padding-top: 30px;
  }
} */

/* @media (max-width: 767px) {
  .title {
    font-size: 28px;
  }

  /* .action-item-menu {
    display: block;
  } */

/* add class "is-open" to <nav class="header-nav"> result <nav class="header-nav is-open"> */

/* @media (max-width: 520px) {
  .box-product,
  .box-product.card-small {
    width: 100%;
    padding-bottom: 0;
  }

  .gallery-card {
    height: 170px;
    padding: 25px 15px;
    border-radius: 5px;
  }
}    position: fixed;
    z-index: 9;
    width: 50%;
    min-width: 275px;
    background-color: #fff;
    top: 0;
    left: 0; */
